{% extends 'base.html.twig' %}

{% if mediaList.archived == true %}
    {% set title %}
        <span style="font-size:.75em">{{ mediaList.type == 0 ? 'Playlist ' : 'Chaîne ' }} archivée</span>
        {{ mediaList.title }}
    {% endset %}
{% else %}
    {% set title %}
        <span style="font-size:.75em">{{ mediaList.type == 0 ? 'Playlist ' : 'Chaîne ' }} active</span>
        {{ mediaList.title }}
    {% endset %}
{% endif %}

{% set page_title %} {{ mediaList.title }}{% endset %}
{% block title %} {{ title }}{% endblock %}

{% block body %}

    <h2>{{ title }}</h2>

    {% if mediaList is not empty %}

        <h3>Caractéristiques :</h3>
        <ul class="carac-sett-list">
            <li>Url : <a href="{{ mediaList.url }}" target="_blank">{{ mediaList.url }}</a>&#8599;</li>
            <li>Contient X vidéos</li>
            <li>X vidéos ont été téléchargées</li>
        </ul>
        <h3>Réglages :</h3>
        <ul class="carac-sett-list">
            <li>Téléchargement des {{ mediaList.xLastVideos }} dernières vidéos</li>
            <li>
                {{ mediaList.deleteAfter > 0 ? mediaList.deleteAfter > 1 ? 'Supprimer les vidéos téléchargées après ' ~ mediaList.deleteAfter ~ ' jours' : 'Supprimer les vidéos téléchargées après ' ~ mediaList.deleteAfter ~ ' jour' : 'Les vidéos ne sont jamais supprimées' }}
            </li>
            <li>Cronjob : {{ mediaList.cronjob }}</li>
            <li>Qualité : {{ mediaList.quality > 0 ? mediaList.quality ~ '/3' : 'Audio seulement' }}</li>
            <li>Chemin de téléchargement : {{ mediaList.path }}</li>
        </ul>
        <p>
            <a href="#" class="button edit-button">Modifier</a><a href="#" class="button arch-button">Archiver</a><a href="#" class="button del-button">Supprimer</a>
        </p>
        <p style="margin-top:4em">
            <a href="{{  mediaList.archived == 'true' ? path('index.archived') : path('index') }}" class="button add-button">Revenir {{ mediaList.archived == 'true' ? 'aux archives' : 'à l\'index' }}</a>
        </p>

    {% else %}
        <p>Vide</p>
    {% endif %}

{% endblock %}
