{% extends 'base.html.twig' %}

{% if archive is defined %}
    {% set page_title %}
        Archive des playlists et des chaînes
    {% endset %}
{% else %}
    {% set page_title %}
        Index des playlists et des chaînes
    {% endset %}
{% endif %}

{% block title %} {{ page_title }} {% endblock %}

{% block body %}
    {% if archive is not defined %}
    <h3>Ajouter une chaine ou une playlist</h3>
    <a href="{{ path('add.mediaList') }}" class="button add-button">Ajouter</a>
    {% endif %}
    <h3>Playlists {{ archive is defined ? ' archivées' : '' }}</h3>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>URL</th>
            <th>Cronjob</th>
            <th>Age Max</th>
        </tr>
        </thead>
        <tbody>
        {% for playlist in playLists %}
        <tr>
            <td><a href="{{ path('show.mediaList', {id: playlist.id}) }}" class="table-link">{{ playlist.title }}</a></td>
            <td><a href="{{ path('show.mediaList', {id: playlist.id}) }}" class="table-link">{{ playlist.url }}</a></td>
            <td><a href="{{ path('show.mediaList', {id: playlist.id}) }}" class="table-link">{{ playlist.cronjob }}</a></td>
            <td><a href="{{ path('show.mediaList', {id: playlist.id}) }}" class="table-link">{{ playlist.deleteAfter > 0 ? playlist.deleteAfter ~ ' jours' : 'Infini' }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Chaînes {{ archive is defined ? ' archivées' : '' }}</h3>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>URL</th>
            <th>Cronjob</th>
            <th>Age Max</th>
        </tr>
        </thead>
        <tbody>
        {% for channel in channels %}
            <tr>
                <td><a href="{{ path('show.mediaList', {id: channel.id}) }}" class="table-link">{{ channel.title }}</a></td>
                <td><a href="{{ path('show.mediaList', {id: channel.id}) }}" class="table-link">{{ channel.url }}</a></td>
                <td><a href="{{ path('show.mediaList', {id: channel.id}) }}" class="table-link">{{ channel.cronjob }}</a></td>
                <td><a href="{{ path('show.mediaList', {id: channel.id}) }}" class="table-link">{{ channel.deleteAfter > 0 ? channel.deleteAfter ~ ' jours' : 'Infini' }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
