<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page_title | default('Pas de titre') }}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/png" href="{{ asset('favicon.gif') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <h1>Dorizonerr</h1>
            <ul>
                <li><a href="{{ path('index') }}">Home</a></li>
                <li><a href="{{ path('index.archived') }}">Archives</a></li>
                <li><a href="https://floriandorizon.fr" target="_blank">Dorizon Industries</a>&#8599;</li>
            </ul>
        </nav>
        <hr>
        <div class="wrapper">
            <div class="alert-container">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} flash-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
        <!--<canvas id="canvas">YOUR_TEXT</canvas>
        <canvas id="canvas2">YOUR_TEXT</canvas>
        <script src="{{ asset('js/matrix.js') }}"></script>-->
    </body>
</html>
